/* Warning */
.warning {
    color: red;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    font-size: x-large;
    max-width: 90%;
    text-align: center;
}

#warn {
    margin-top: 10%;
}

#p2 {
    margin-top: -5%;
}

#p1 {
    margin-top: -5%;
}

/* My_portfolio: title*/
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5vw;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
}

/* Press enter*/
.continue {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: flash;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    cursor: pointer;
    font-size: 1.5vw;
}

@keyframes flash {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}


/* navbar */
#nav {
    position: absolute;
    top: 2%;
    left: 75%;
    list-style-type: none;
    cursor: pointer;
    z-index: 5;
    
}

.drop {
    color: white;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 800;
}

/* dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

  /* dropdow content hidden */
.dropdown-content {
    display: none;
    position: absolute;
    width: 120px;
    z-index: 1;
}
  
  /* differents categories */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

  /* Change color of dropdown links on hover */
.dropdown-content a:hover{
    background-color: #fff;
    color: #333;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    .warning {
        color: red;
        position: absolute;
        top: 75%;
        left: 35%;
        font-size:x-large;
        width: 600px;
    }
    
    #warn {
        position: relative;
        left: 35%;
    }
    
    #p2 {
        position: relative;
        left: 20%;
        margin-top: -3%;
    }
    
    #p1 {
        position: relative;
        left: 9%;
        margin-top: -3%;
    }
}
    
/* python cards */
.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    flex-basis: calc(33.33% - 20px);
    height: 500px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 9px 9px 0px 0px;
}

.card h2 {
    padding: 10px;
    margin: 10px 0 5px 0;
    font-size: 24px;
}

.card p {
    padding: 10px;
    margin: 5px 0 10px 0;
    font-size: 16px;
    flex-grow: 1;
}

@media screen and (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .card {
        flex-basis: calc(100% - 20px);
        margin: 10px 0;
    }
}


/* Graphical Programming card */
.container-card-gp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-gp {
    flex-basis: calc(33.33% - 20px);
    height: 500px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-gp img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 9px 9px 0px 0px;
}

.card-gp h2 {
    padding: 10px;
    margin: 10px 0 5px 0;
    font-size: 24px;
}

.card-gp p {
    padding: 10px;
    margin: 5px 0 10px 0;
    font-size: 16px;
    flex-grow: 1;
}

/* Elementary Programming card */
.container-card-ep {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-ep {
    flex-basis: calc(33.33% - 20px);
    height: 500px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-ep img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 9px 9px 0px 0px;
}

.card-ep h2 {
    padding: 10px;
    margin: 10px 0 5px 0;
    font-size: 24px;
}

.card-ep p {
    padding: 10px;
    margin: 5px 0 10px 0;
    font-size: 16px;
    flex-grow: 1;
}

/* Unix System Programming card */
.container-card-usp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-usp {
    flex-basis: calc(33.33% - 20px);
    height: 500px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-usp img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 9px 9px 0px 0px;
}

.card-usp h2 {
    padding: 10px;
    margin: 10px 0 5px 0;
    font-size: 24px;
}

.card-usp p {
    padding: 10px;
    margin: 5px 0 10px 0;
    font-size: 16px;
    flex-grow: 1;
}

/* background move */
.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #f13a8f 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}
  
.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}
  
.bg3 {
    animation-duration: 5s;
}
   
@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

/* choose module */
.container-button {
    position: absolute;
    top: 45%;
    left: 35%;
    z-index: 5;
}

.button {
    width: 100%;
    max-width: 150px;
    height: auto;
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin: 23px;
}

/* About */
.about {
    border-radius: 15px;
    background-color: #C89FA3;
    width: 100%;
    max-width: 725px;
    height: 425px;
    box-shadow: 10px 10px 10px 0px white;
    position: relative;
    margin: 10% 5%;
    z-index: 5;
}

.about h1 {
    position: relative;
    margin-left: 6%;
    padding-top: 2%;
    animation: move-text 2s ease-out forwards;
}

@keyframes move-text {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

.about p {
    margin-left: 8%;
    position: relative;
    animation: move-text-bottom 2s ease-out forwards;
}

@keyframes move-text-bottom {
    from {
        top: -100%;
    }
    to {
        top: 0%;
    }
}

@media only screen and (min-width: 768px) {
    .about {
        margin: 10% auto;
    }
}

/* div in about */
.text {
    width: 100%;
    max-width: 290px;
    position: relative;
    left: 2%;
}

.download-button {
    background-color: #A0A083;
    border : 1.6px solid white;
    border-radius: 17px;
    opacity: 1;
    transition: 0.4s;
    cursor: pointer;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 190px;
    height: 45px;
    z-index: 6;
}

.download-button a {
    color: white;
    position: absolute;
    text-decoration: none;
    text-align: center;
    padding: 5% 5%;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .download-button a {
        font-size: 16px;
        padding: 3% 7%;
    }
}

@media (max-width: 480px) {
    .download-button a {
        font-size: 14px;
        padding: 2% 5%;
    }
}

.download-button:hover {
    background: linear-gradient(60deg, #5ff281, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f);
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 767px) {
    .text {
        width: 100%;
        max-width: none;
        position: static;
        margin-top: 20px;
    }
    
    .download-button {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* social media */
/* For screens smaller than 768px */
@media (max-width: 767px) {
    .social-media {
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .social-icon {
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
        border-radius: 20px;
        font-size: 16px;
        line-height: 40px;
        transform: translateY(-200%);
    }
    
    .social-icon:hover {
        box-shadow: none;
    }
    
    #mail {
        left: 20px;
    }
    
    #github {
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    #linkedin {
        left: auto;
        right: 20px;
    }
    
    .text2 {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .text2 p {
        width: 80%;
        max-width: 300px;
        height: auto;
    }
}

/* For screens larger than 768px */
@media (min-width: 768px) {
    .social-media {
        position: absolute;
        left: 50%;
        top: 35%;
        margin-top: 5%;
    }

    .social-icon {
        width: 50px;
        height: auto;
        margin-bottom: 30px;
        border-radius: 25px;
        background-color: #B38CB4;
        color: white;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        transform: translateY(-300%);
        transition: all 0.5s;
    }

    .social-icon:hover {
        background: linear-gradient(60deg, #5ff281, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f);
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
    }

    .social-icon a {
        color: white;
        text-decoration: none;
    }

    #mail {
        position: absolute;
        left: 65px;
    }

    #github {
        position: absolute;
        left: 65px;
    }

    #linkedin {
        position: absolute;
        left: 65px;
    }

    .text2 {
        position: absolute;
        top: 57%;
        left: 44%;
    }

    .text2 p {
        width: 300px;
        height: auto;
    }
}
